.button {
  composes: font from '../../styles.module.css';
  background-color: #4262FF;
  border: 0;
  color: white;
  padding: 8px 16px;
  margin-right: 16px;
  margin-bottom: 4px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: all 200ms linear;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  transform: translateY(4px);
}
